.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	
	.cartBlock {
		position: absolute;
		width: 385px;
		height: 100%;
		right: 0px;
		top: 0;
		background: #FFFFFF;
		box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		// justify-content: center;

		.cartHead {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// margin-bottom: 250px;

			h4 {
				font-size: 24px;
			}

			img {
				cursor: pointer;
			}
		}

		.cartWrapper {
			display: flex;
			flex-direction: column;
			flex: 1;

			.items{
				flex: 1;
				overflow: auto;
				.cartItem {
					display: flex;
					flex-direction: row;
					align-items: center;
					border: 1px solid #F2F2F2;
					border-radius: 18px;
					padding: 20px;
					margin-bottom: 20px;

					.itemInfo {
						margin: 0 20px;
						font-size: 16px;

						p {
							margin-top: 0;
							margin-bottom: 8px;
						}
					}

					img {
						cursor: pointer;
					}
				}
			}

			.cartTotal {
				padding: 0;
				margin: 0;
				div {
					flex: 1;
					height: 1px;
					border-bottom: 1px dashed #dfdfdf;
					position: relative;
					top: -4px;
					margin: 0 7px;
				}
				li {
					display: flex;
					align-items: flex-end;
					margin-bottom:  20px;
				}
			}

			.greenButton {
				height: 55px;
				margin-bottom: 20px;
				background-color: #9DD458;
				border: none;
				border-radius: 18px;
				color: #FFFFFF;
				font-size: 16px;
				font-weight: 500;
				cursor: pointer;
			
				// &:hover {
				// 	background-color: lighten(#9DD458, 5%);
				// }
				position: relative;

				&:hover {
					img {
						transform: translateX(5px);
					}
				}

				img {
					position: absolute;
					right: 30px;
					top: 22px;
					transition: transform 0.1s ease-in-out;
				}
			}
		}
	}
}

.emptyCart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// margin-top: 250px;
	flex: 1;

	img {
		height: 120px;
	}
	
	b {
		font-size: 22px;
	}

	span {
		font-size: 16px;
		opacity: 0.5;
		text-align: center;
		margin: 10px 0 40px 0;
		width: 285px;
		line-height: 24px;
	}

	.greenButton {
		width: 100%;
		height: 55px;
		margin-bottom: 20px;
		background-color: #9DD458;
		border: none;
		border-radius: 18px;
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
	
		// &:hover {
		// 	background-color: lighten(#9DD458, 5%);
		// }
		position: relative;

		&:hover {
			img {
				transform: translateX(-5px);
			}
		}

		img {
			height: 15px;
			position: absolute;
			left: 30px;
			top: 22px;
			transition: transform 0.1s ease-in-out;
		}
	}
}


.favoritesWrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 10% 30%;
}